# Auth binary and logs
common/main/main

Servers/AdminServer/server
Servers/AdminServer/AdminLog.txt

Servers/AdvertisingServer/server
Servers/AdvertisingServer/AdvertisingLog.txt

Servers/AuthServer/server
Servers/AuthServer/AuthLog.txt

Servers/CommentServer/server
Servers/CommentServer/CommentLog.txt

Servers/FeedbackServer/server
Servers/FeedbackServer/FeedbackLog.txt

Servers/FeedsServer/server
Servers/FeedsServer/FeedsLog.txt

Servers/SearchServer/server
Servers/SearchServer/SearchLog.txt

Servers/ProfileServer/server
Servers/ProfileServer/ProfileLog.txt

Servers/VideoServer/server
Servers/VideoServer/VideoLog.txt